---
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import NewsSection from "../components/NewsSection";
import About from "../components/about.astro";
import Layout from "../layouts/Layout.astro";
import yo_uta from "../assets/yo_uta.png";
---

<Layout title="UTA">
  <Hero />
  <div class="mx-auto max-w-6xl">
    <div class="flex justify-center py-4">
      <Image src={yo_uta} alt="" class="h-28 w-auto" />
    </div>

    <About />
    <div class="">
      <h2 class="text-3xl font-bold text-start mt-10 ml-10">
        <p>Noticias</p>
      </h2>
      <a href="/news">
        <p class="text-red-700 text-start ml-10">Ver todas las noticias</p>
      </a>
      <hr class="flex" />
    </div>
    <NewsSection limit={4} />
    <iframe
      class="mx-auto my-10 w-full h-96"
      src="https://www.youtube.com/embed/J1aDWtEmGmo?si=gpgtDioFMGHYph1V&autoplay=1&mute=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
