---
import NavBar from "../components/NavBar";
import NewsSection from "../components/NewsSection";
import Layout from "../layouts/Layout.astro";
---

<Layout title="news">
  <NewsSection client:load />
</Layout>
