<footer>
  <div class="container h-56">
    <div class="w-full bg-white h-full">
      <div class="col-md-12">
        <p>© 2017 - Todos os direitos reservados</p>
      </div>
    </div>
  </div>
</footer>
